fastapi
uvicorn
python-dotenv
langchain
langchain-openai
langchain-pinecone
langchain-groq
langchain-tavily
langgraph
langgraph-checkpoint-postgres
psycopg[binary,pool]
pinecone-client
markitdown
markitdown[pdf]
PyPDF2
langchain-community
pypdf
langchain-core
langchain-text-splitters
python-multipart
beautifulsoup4